body{
  background-color: rgb(48, 48, 48);
  color: white;
}

.textoimg{
  position: absolute;
  text-align: center;
  background-color: wheat;
  bottom: 0;
  left: 0;
  color: aliceblue;
}

.skill-icons {
  display: flex;
  padding: 70px;
  height: 128px;
  flex:1;
}

.skill-icons>img {
  display: flex;
  padding: 50px;
  height: 128px;
  flex:1;
}

.bar {
  background: rgb(255, 249, 164);
  display: block;
  height: 20px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bar span {
  height: 20px;
  float: left;
  
}

.teste {
  background: linear-gradient(135deg, rgb(243, 243, 243)0%, rgb(255, 249, 164)100%);
  width: 90%;
  animation: html 1s;
}

.html {
  background: linear-gradient(135deg, rgb(238, 145, 5)0%, rgb(255, 180, 251)100%);
  width: 90%;
  animation: html 3s;
}

.css {
  background: linear-gradient(135deg, rgb(0, 4, 236)0%, rgb(64, 161, 218)100%);
  width: 70%;
  animation: css 3s;
}

.javascript {
  background: linear-gradient(135deg, rgb(198, 231, 11)0%, rgb(255, 180, 251)100%);
  width: 40%;
  animation: javascript 3s;
}

.php {
  background: linear-gradient(135deg, rgb(104, 75, 233)0%, rgb(183, 173, 231)100%);
  width: 60%;
  animation: php 3s;
}

.node {
  background: linear-gradient(135deg, rgb(0, 236, 118)0%, rgb(105, 124, 103)100%);
  width: 20%;
  animation: node 3s;
}

.python {
  background: linear-gradient(135deg, rgb(24, 0, 236)0%, rgb(175, 144, 6)100%);
  width: 30%;
  animation: python 3s;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10%;
  margin-left: 5%;
  margin-right: 10%;
}

.box>div{
  text-align: center;
}

@keyframes html {
  0%{
      width: 0%;
  }
  100%{
      width: 90%;
  }
}


@keyframes css {
  0%{
      width: 0%;
  }
  100%{
      width: 70%;
  }
}

@keyframes javascript {
  0%{
      width: 0%;
  }
  100%{
      width: 40%;
  }
}

@keyframes python {
  0%{
      width: 0%;
  }
  100%{
      width: 30%;
  }
}

@keyframes node {
  0%{
      width: 0%;
  }
  100%{
      width: 20%;
  }
}

@keyframes php {
  0%{
      width: 0%;
  }
  100%{
      width: 60%;
  }
}





